@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s ease-out;
    font-family: 'Poppins', sans-serif;
}


/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    margin: 0;
    top: 0;
}

a {
    text-decoration: none;
}

/* Navbar */

.nav-scrolled {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.69);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.5s ease-out;
  }
  
  nav {
    display: flex;
    font-family: 'Inter',sans-serif;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 5px 5px;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: transparent;
    z-index: 100;
    color: black;
  }


.logsign {
    display: flex;
    gap: 38px;
    align-items: center;
}

.logsign a:first-of-type {
    color: black;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav li {
    list-style: none;
}

nav li a {
    color: black !important;
}

.a-btn {
    align-self: center;
    padding:11px 31px;
    font-weight: 600;
    background: #217BF4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 14px;
    color: #fff;
}

a:hover {
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 25px;
    width: auto;
    height: 39px;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid #217BF4;
    color: black;
}

/* footer */

.prefooter {
    font-family: 'Inter',sans-serif;
    display: flex;
    padding: 82px 92px 82px 102px;
    gap: 76px;
    background-color: #CFE3FF;
}

.foot-desc {
    display: flex;
    gap: 106px;
}

.sec p {
    color: #616161;
}

#footer {
    font-family: 'Inter',sans-serif;
    display: flex;
    background-color: #42425C;
    justify-content: space-around;
    align-items: center;
}


/* underline-animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: 
  #217BF4;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    border-radius: 5px;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* container */
.cards-container, .box-gray-container{
    display: flex;
    gap: 38px;
}

.card-s {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 342px;
    max-height: 357px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 10px;
}

.img-s {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 342px;
    max-height: 241px !important;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card-s p:last-of-type {
    color:#00C2FF;
}

.card-s p, .card-s h3 {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.btn-2 {
    padding: 16px 45px;
    background: #217BF4;
    border-radius: 70px;
    color: #fff;
    transition: 0.3s ease-out;
    align-self: center;
}

.btn-2:hover, .a-btn:hover {
    background-color: #0050E6;
}

#gray, #recommendation, #tws {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#recommendation {
    height: 100vh;
}

.wts-container, .user1 {
    gap: 27px;
    display: flex;
}

.user1 {
    align-items: center;
}

.wts-container {
    gap: 70px;
    text-align: justify;
}

.say {
    display: flex;
    flex-direction: column;
    width:502px;
    height:511px;
    background-color: #FFFFFF;
    padding: 20px 17px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 90px;
}


.say p:first-of-type {
    font-size: 16px;
    line-height: 24px;
}

.akun p:first-of-type {
    font-weight: 700;
    margin-bottom: 0;
}

.akun p:last-of-type {
    margin: 0;
}

#gray {
    height: 60vh;
}

.bullet {
    display: flex;
    gap: 25px;
}

.poin {
    padding: 10px 10px;
    background: #D9D9D9;
    border-radius: 35px;
    width: 136px;
    text-align: center;
}


.box-g {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 167px;
    border-radius: 20px;
    align-items: center;
    font-weight: 600;
}

.box {
    width: 296px;
    height: 126px;
    border-radius: 20px;
    background: #D9D9D9;
}

.box-square-container {
    display: flex;
    gap: 21px;
}

.box-s {
    width: 294px;
    height: 213px;
    border-radius: 20px;
    background: #D9D9D9;
}