@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s ease-out
}


/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    margin: 0;
    top: 0;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 17px;
    height: auto;
    border-radius: 24px;
    display: none;
}

/* ::-webkit-scrollbar-thumb {
    background-color: #217BF4;
    border-radius: 24px;
} */

/* ::-webkit-scrollbar-thumb:hover {
    background-color: ;
} */

/* *::-webkit-scrollbar-track {
    border-radius: 24px;
    background-color: transparent;
} */

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

/* Navbar */

.nav-scrolled {
    backdrop-filter: blur(10px);
    background-color: #0005;
    color: white;
    transition: 0.5s ease-out;
}

nav {
    font-family: 'Inter',sans-serif;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 5px 5px;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: transparent;
    z-index: 100;
    color: white;
}


.logsign {
    display: flex;
    gap: 38px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav li {
    list-style: none;
}

nav li a {
    color: white;
}

nav li a:active {
    color: white;
}

.a-btn {
    align-self: center;
    padding:11px 31px;
    font-weight: 600;
    background: #217BF4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 14px;
    color: #fff;
}

a:hover {
    cursor: pointer;
}

/* header */
header {
    font-family: 'Inter',sans-serif;
    background-image: url(image/hero.svg);
    background-size: cover;
    height: 100vh;
}

.slog-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%); */
}

h1 {
    font-weight: 700;
    font-size: 56px;
    margin: 0;
}

.slogan {
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    gap: 18px;
}

header .btn-sl {
    display: flex;
    justify-content: center;
}

.btn-2 {
    padding: 16px 45px;
    background: #217BF4;
    border-radius: 70px;
    color: #fff;
    transition: 0.3s ease-out;
}

.btn-2:hover, .a-btn:hover {
    background-color: #0050E6;
}

/* feature */
#feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 140px 0px 100px 0px;
    font-family: 'Poppins', sans-serif;
}

.cardf-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 50px;
}

.card-f {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 306px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    transition: 0.3s ease-out;
}

.card-f:hover, .card-food:hover, .card-d:hover, .card-s:hover {
     /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-f h4 {
    margin: 0;
    font-size: 24px;
}

.card-f i {
    display: inline-block;
    align-self: center;
    color: #217BF4;
    padding: 10px;
    font-size: 70px;
    border-radius: 10px;
}

.card-f p {
    font-size: 16px;
    max-width: 260px;
}

/* destination */

#destination, #selling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    font-family: 'Poppins', sans-serif;
}

.cardd-container {
    display: flex;
    gap: 28px;
}

#destination a, #selling a {
    align-self: center;
}

.card-d {
    border-radius: 20px;
    width: 330px;
    height: 390px;
    justify-content: center;
    align-items: center;
}

.img-d {
    display: flex;
    align-items: center;
    max-width: 330px;
    max-height: 247.5px !important;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

.card-d img {
    overflow: hidden;
    object-fit: cover;
    /* width: 100%; */
}

.card-d .num {
    display: flex;   
    align-items: center;
    gap: 10px;
}

.card-d .num div {
    width: 87px;
    height: 3px;
    background-color: #217BF4;
}

.card-d p {
    padding: 0px 10px;
}

/* food */
#food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 250px;
}

.cardfo-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 45px;
}

.card-food {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 368px;
    max-height: 508px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 10px;
}

.card-food p, .card-food h3, .card-food .bintang {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.card-food p:last-of-type{
    color: red;
}

.img-f {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    max-width: 368px;
    max-height: 300px;
}

/* selling */
.cards-container{
    display: flex;
    gap: 38px;
    position: relative;
}

.card-s {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 342px;
    max-height: 357px;
    background: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-bottom: 10px;
}

.img-s {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 342px;
    max-height: 241px !important;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card-s p, .card-s h3 {
    padding-left: 15px;
    margin: 0;
    padding-right: 10px;
}

.card-s p:first-of-type {
    color: red;
  }

/* about */
#about {
    padding-top: 111px;
    display: flex;
    justify-content: center;
    gap: 98px;
    font-family: 'Poppins', sans-serif;
}

.img-about {
    display: flex;
    gap: 33px;
}

.img-grayscaled {
    filter: grayscale(100%);
}

.img-grayscaled:hover {
    filter: none;
}

.img-1 {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-right: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container h2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 0;
}

.about-container p {
    margin:0px auto;
    color: #656464;
    max-width: 406px;
    font-size: 16px;
} 

.about-container li {
   list-style: circle inside red;
}

/* team */
#team {
    font-family: 'Inter',sans-serif;
    margin-top: 87px;
    padding-top: 66px;
    padding-bottom: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#team h2 {
    font-size: 40px;
    font-weight: bolder;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    gap: 68px;
}

.card-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 316px;
    border-radius: 14px;
    /* background-color: #0050E6; */
}

.card-team:hover {
    box-shadow: #0050E6 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-team p:first-of-type {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.card-team p:last-of-type {
    color:  #656464;
    font-size: 15px;
    font-weight: 600;
}

.sosmed-p {
    display: flex;
    gap: 15px;
}

.sosmed-p i {
    font-size: 20px;
}

.sosmed-p i:hover {
    transform: translateY(8px);
    color: #0050E6;
}

/* footer */

.prefooter {
    font-family: 'Inter',sans-serif;
    display: flex;
    padding: 82px 92px 82px 102px;
    gap: 76px;
    background-color: #CFE3FF;
}

.foot-desc {
    display: flex;
    gap: 106px;
}

.sec p {
    color: #616161;
}

#footer {
    font-family: 'Inter',sans-serif;
    display: flex;
    background-color: #42425C;
    justify-content: space-around;
    align-items: center;
}


/* underline-animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: 
  #217BF4;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    border-radius: 5px;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* carousel */
.wrapper {
    max-width: 1900px;
}

.wrapper .carousel {
    display: flex;
    gap: 38px;
    cursor: pointer;
    overflow: hidden;
    /* background-color: #0050E6; */
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel .card-s, .carousel .card-d{
    margin-left: 0px;
}
.carousel {
    width: 100%;
    height: 400px;
}
  
  
